{% extends 'base.html.twig' %}

{% block title %} Liste des films {% endblock %}


{% block body %}

<h1 class="text-center"> Liste des films </h1>

<table>
    <ul>
        <li> affiche </li>
        <li> titre (année) </li>
    </ul>
</table>

{# {% if is_granted('ROLE_ADMIN') %}  #}
    <a class="btn btn-primary" href={{ path('ajouter_film') }}> Ajouter un film </a> 
{# {% endif %} #}

{% endblock %}