/* *********************General********************* */
.py-base {
    padding: 3.5rem 0;
}


/* *********************Nav bar / footer********************* */
.nav-link,
.footer-text {
    font-family: 'Girassol', cursive;
}

.nav-bar-ticket-1 {
    background-image: url('../img/navTicket4-no-bg.png');
    background-size: cover;
    width: 12rem;
    padding-top: 1.2rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* *********************Qui sommes-nous ?********************* */
.fantasclic {
    font-weight: bold;
    color: red;
}

/* *********************Admin ********************* */
.admin-menu-btn a {
    font-size: 0.9rem;
}

.profil div {
    font-size: 1.3rem;
}