.fantasclic {
    font-weight: bold;
    color: red;
}

.nav-link,
.footer-text {
    font-family: 'Girassol', cursive;
}



.nav-bar-ticket-1 {
    background-image: url('../img/navTicket4-no-bg.png');
    background-size: cover;
    width: 12rem;
    padding-top: 1.3rem;
}

.nav-bar-ticket-2 {
    background-image: url('../img/navTicket4-no-bg.png');
    background-size: cover;
    width: 12rem;
    padding-top: 0.7rem;
}