{% extends 'base.html.twig' %}

{% block title %} Nouveau réalisateur {% endblock %}

{% block body %}
<<<<<<< HEAD
<h1>Ajouter un réalisateur </h1>
=======

<br>
<h1 class="text-center"> Ajouter un réalisateur </h1>
<br>
>>>>>>> df90b26753bb7c65cd94bdc29e556640dd6d73fe
{{ form(form) }}

{% endblock %}