{% extends "base.html.twig" %}

{% block title %} Modifier le réalisateur {% endblock %}


{% block body %}

<br>
<h1 class="text-center"> Modifier le réalisateur </h1>
<br>
{{ form(form) }}

{% endblock %}