{% extends 'base.html.twig' %}

{% block title %} Enregistrement Utilisateur {% endblock %}

{% block body %}
<div class="py-base mx-auto" style="max-width: 40rem;">
    <h1> Création de compte </h1>
    {{ form(form)}}
</div>
{% endblock %}