{% extends 'base.html.twig' %}

{% block title %}Modifier votre avatar{% endblock %}

{% block body %}
<div class="py-base mx-auto" style="max-width: 35rem;">
    <h1 class="text-center">Modifier votre avatar</h1>

    {{ form(form) }}
</div>
{% endblock %}