{% extends "base.html.twig" %}

{% block title %} Qui sommes-nous ? {% endblock %}

{% block body %}
<div class="mt-4 mx-auto container" style="max-width: 50rem; background-color: #fff;">
    <h1>Qui sommes-nous ?</h1>
    <div class="my-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis earum nostrum fuga iure est ex voluptatem
            obcaecati eaque necessitatibus neque! Eum at sed placeat ex. Maxime dolorum mollitia voluptatem odit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis earum nostrum fuga iure est ex voluptatem
            obcaecati eaque necessitatibus neque! Eum at sed placeat ex. Maxime dolorum mollitia voluptatem odit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis earum nostrum fuga iure est ex voluptatem
            obcaecati eaque necessitatibus neque! Eum at sed placeat ex. Maxime dolorum mollitia voluptatem odit.</p>
    </div>
</div>
{% endblock %}