{% extends "base.html.twig" %}

{% block title %} Top de la rédac' {% endblock %}


{% block body %}

<h1 class="text-center"> TOP DE LA RÉDAC' </h1>
<br>
<h2> AYANE </h2>
<h4> 1) It Follows (2014) </h4>
<h4> 2) Ring (1998) </h4>
<h4> 3) Grave (2017) </h4>
<br>
<h2> KÉVIN </h2>
<h4> 1) Halloween, La Nuit Des Masques (2014) </h4>
<h4> 2) Alien, Le Huitième Passager (1979) </h4>
<h4> 3) Ça - "Il" Est Revenu (1990) </h4>
<br>
<h2> YANNICK </h2>
<h4> 1) Les Dents De La Mer (1975) </h4>
<h4> 2) Alien, Le Huitième Passager (1979) </h4>
<h4> 3) Gravity (2013) </h4>
<br>










{% endblock %}